Repository bn-digital/ant-chart-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

added chart and legend table
  .idea/misc.xml
  .idea/vagrant.xml
  packages/website/package.json
  packages/website/public/index.html
  packages/website/public/testData.json
  packages/website/src/components/Chart/Chart.tsx
  packages/website/src/components/LegendTable/LegendTable.tsx
  packages/website/src/components/layout/DefaultLayout.tsx
  packages/website/src/index.less
  packages/website/src/index.tsx
  packages/website/src/interfaces.ts
  packages/website/src/pages/home/Home.tsx
  packages/website/tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Autodeploy
  .github/dependabot.yml
  .github/workflows/code-analysis.yml
  .github/workflows/codestyle.yml
  .github/workflows/containers.yml
  .github/workflows/deploy.yml
  .github/workflows/secrets.yml
  .github/workflows/upgrade.yml
  .idea/azure/azureSettings.xml
  .idea/clarity.iml
  .idea/misc.xml
  .idea/modules.xml
  charts/nodejs/Chart.yaml
  charts/nodejs/templates/Deployment.yaml
  charts/nodejs/templates/HorizontalPodAutoscaler.yaml
  charts/nodejs/templates/Ingress.yaml
  charts/nodejs/templates/PersistentVolumeClaim.yaml
  charts/nodejs/templates/Service.yaml
  charts/nodejs/templates/_helpers.tpl
  charts/nodejs/values.yaml
  helmfile.yaml
  packages/storybook/storybook.iml
  packages/website/.dockerignore
  packages/website/Dockerfile
  packages/website/sonar-project.properties
  skaffold.yaml
  sonar-project.properties
Due: none

Bump deploy
  packages/website/src/index.tsx
Due: eslint --fix, prettier --write

Bump deploy
  .github/workflows/code-analysis.yml
  .github/workflows/deploy.yml
Due: none

Update index.tsx
  packages/website/src/index.tsx
Due: eslint --fix, prettier --write

Lint issues fix
  .eslintignore
  package.json
  packages/website/.eslintignore
  packages/website/.stylelintignore
  packages/website/.stylelintrc
  packages/website/package.json
  packages/website/src/components/chart/Chart.tsx
  packages/website/src/components/legend/LegendTable.tsx
  packages/website/src/containers/Routing.tsx
  packages/website/src/containers/index.tsx
  packages/website/src/pages/home/Home.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Lint issues fix
  .bzt/config.yaml
  .bzt/reports/.gitignore
  packages/website/Dockerfile
Due: none

made side menu / added main pages / added some general styling
  .idea/misc.xml
  packages/website/src/components/icon/Icon.tsx
  packages/website/src/components/icon/icons/dashboard-icon.svg
  packages/website/src/components/icon/icons/funds-icon.svg
  packages/website/src/components/icon/icons/portfolios-icon.svg
  packages/website/src/components/icon/icons/reports-icon.svg
  packages/website/src/components/layout/DefaultLayout.tsx
  packages/website/src/components/logo/Logo.tsx
  packages/website/src/components/logo/logo.svg
  packages/website/src/components/menu/SideNavigation.tsx
  packages/website/src/components/menu/TopNavigation.tsx
  packages/website/src/containers/Routing.tsx
  packages/website/src/containers/UI.less
  packages/website/src/index.less
  packages/website/src/pages/dashboard/Dashboard.tsx
  packages/website/src/pages/dashboard/index.tsx
  packages/website/src/pages/funds/Funds.tsx
  packages/website/src/pages/funds/index.tsx
  packages/website/src/pages/home/index.tsx
  packages/website/src/pages/portfolios/Portfolios.tsx
  packages/website/src/pages/portfolios/index.tsx
  packages/website/src/pages/reports/Reports.tsx
  packages/website/src/pages/reports/index.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

added fonts / table, chart styles change
  packages/website/public/index.html
  packages/website/src/components/chart/Chart.tsx
  packages/website/src/components/icon/Icon.tsx
  packages/website/src/components/icon/icons/arrow.svg
  packages/website/src/components/legend/LegendTable.less
  packages/website/src/components/legend/LegendTable.tsx
  packages/website/src/containers/UI.less
  packages/website/src/index.less
  packages/website/src/pages/portfolios/Portfolios.tsx
Due: eslint --fix, stylelint --fix, prettier --write

changed routing to route to porfolio page only
  packages/website/public/testData.json
  packages/website/src/containers/Routing.tsx
Due: eslint --fix, prettier --write

general styles / head info (favicon, description)
  .idea/watcherTasks.xml
  packages/website/public/favicon.svg
  packages/website/public/index.html
  packages/website/src/components/VerticalSpace.less
  packages/website/src/components/VerticalSpace.tsx
  packages/website/src/components/layout/DefaultLayout.tsx
  packages/website/src/containers/Routing.tsx
  packages/website/src/containers/UI.less
  packages/website/src/index.less
Due: eslint --fix, stylelint --fix, prettier --write

Build fix
  packages/website/.dockerignore
  packages/website/Dockerfile
  packages/website/src/components/legend/LegendTable.tsx
Due: eslint --fix, prettier --write

Add renovate.json
  renovate.json
Due: none

renamed repo to ant-chart-demo
  .bzt/config.yaml
  .github/workflows/deploy.yml
  helmfile.yaml
  package.json
  packages/cms/package.json
  packages/website/package.json
  packages/website/public/index.html
  packages/website/sonar-project.properties
  sonar-project.properties
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  stylelint --fix: any of: **/*.{less,sass,scss,css}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,md,html,css,less,scss,sass}
